.user {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-profile {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 1rem;

    p {
        margin: 1.5rem 0 0 0;
    }
}