.usuarios-conectados {
    padding: 2rem;

    p {
        font-weight: 600;
        padding: .3rem 0;

    }


    .me {
        color: $naranja;

        button {
            background-color: transparent;
            color: $grisClaro;
            font-weight: 600;
            font-size: 1.5rem;
            position: relative;
        }

        span {
            top: -42px;
            right: -19px;
        }
    }
}